:root {
    /*
    primeries colors
    */
    --Mountain_Meadow: rgb(32, 201, 151); /*#20c997*/
    --Shark: rgb(33, 37, 41);

    /*
    typography
    */

    /*
     Fonts
    */
    --font_poppins:'poppins' , sans-serif;
    --font_Montserrat:'Montserrat' , sans-serif;
    --font_kufiArabic:'Kufiarabic' , sans-serif;
    
}