:root {
    /*
    primeries colors
    */
    --Mountain_Meadow: rgb(32, 201, 151); /*#20c997*/
    --Mountain_Meadow_op: #20c996ce; /*#20c996ce*/
    --Shark: rgb(33, 37, 41);
    --Shark_op: rgba(33, 37, 41, 0.692);

    /*
    typography
    */

    /*
     Fonts
    */
    --font_poppins:'poppins' , sans-serif;
    --font_Montserrat:'Montserrat' , sans-serif;
    --font_kufiArabic:'Kufiarabic' , sans-serif;

    /* Font Sizes (15px , 18px, 20px . 32px , 59px )*/
    --fs_Small: 15px;
    --fs_Normal: 18px;
    --fs_Medium: 20px;
    --fs_Big: 32px;
    --fs_Large: 59px;
    
    

    /*
    Shadows
    */
    --ComponentShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}